<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>비밀번호 변경</title>
    <!-- CSS 링크 프래그먼트 참조 -->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: cssLinks}"></div>

    <!-- Modernizr JS 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: scripts}"></div>


</head>

<body>
<!--헤더 사이드바 참조-->
<div th:replace="~{thymeleaf/fragments/roxy_header_sidebar :: header_sidebar}"></div>

<div class="container">
    <div class="section-content">
        <div class="title-wrap" data-aos="fade-up">
            <h2 class="section-title">비밀번호 변경</h2>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 contact-form-holder mt-4" data-aos="fade-up">
                <form method="post" action="/updatePassword">
                    <div class="row center-aligner">
                        <div class="col-md-9 form-group center-aligner login-input">
                            <input type="password" class="form-control" name="currentPassword" placeholder="현재 비밀번호" required>
                        </div>
                        <div class="col-md-9 form-group center-aligner login-input">
                            <input type="password" class="form-control" name="newPassword1" placeholder="새 비밀번호" required>
                        </div>
                        <div class="col-md-9 form-group center-aligner login-input">
                            <input type="password" class="form-control" name="newPassword2" placeholder="한번더 입력하세요" required>
                        </div>
                        <div class="col-md-12 text-center center-aligner login-button">
                            <button class="btn btn-primary btn-shadow btn-lg" type="submit">비밀번호 변경</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{thymeleaf/fragments/for_roxy :: bodyScripts}"></div>
</body>
</html>
