<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{thymeleaf/fragments/for_roxy :: cssLinks}"></div>
    <div th:replace="~{thymeleaf/fragments/for_roxy :: scripts}"></div>
</head>

<body data-spy="scroll" data-target="#navbar" class="static-layout">
<div th:replace="~{thymeleaf/fragments/roxy_header_sidebar :: header_sidebar}"></div>

<div class="container section-content">
    <div class="col-6">
        <label><b>채팅방</b></label>
    </div>
    <div>
        <div id="msgArea" class="row"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn-outline-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{thymeleaf/fragments/for_roxy :: bodyScripts}"></div>

<script th:inline="javascript">
    $(document).ready(function()
    {
        const username = [[${username}]];
        const roomId = [[${param.roomId}]];

        $("#disconn").on("click", (e) =>
        {
            disconnect();
        });

        $("#button-send").on("click", (e) =>
        {
            send();
        });

        const websocket = new WebSocket("ws://localhost:8080/ws/chat/" + roomId);

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        function send()
        {
            let msg = document.getElementById("msg");
            websocket.send(JSON.stringify({username: username, message: msg.value}));
            msg.value = '';
        }

        function onClose(evt)
        {
            var str = username + ": 님이 방을 나가셨습니다.";
            websocket.send(JSON.stringify({username: username, message: str}));
        }

        function onOpen(evt)
        {
            var str = username + ": 님이 입장하셨습니다.";
            websocket.send(JSON.stringify({username: username, message: str}));
        }

        function onMessage(msg)
        {
            var data = JSON.parse(msg.data);
            var sessionId = data.username;
            var message = data.message;
            var profileImgUrl = data.profileImgUrl; // **** 프로필 이미지 URL 추가

            var str = "<div class='col-12'>";
            str += "<div class='chat-box " + (sessionId == username ? "chat-box-left" : "chat-box-right") + "'>";
            str += "<img src='" + profileImgUrl + "' alt='profile' class='profile-img-" + (sessionId == username ? "left" : "right") + "'>";
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }
    });
</script>
</body>
</html>
