<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- CSS 링크 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: cssLinks}"></div>

    <!-- Modernizr JS 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: scripts}"></div>

   
</head>

<body data-spy="scroll" data-target="#navbar" class="static-layout">

<!--헤더 참조-->
<div th:replace="~{thymeleaf/fragments/roxy_header_sidebar :: header_sidebar}"></div>

<div class="container section-content">
    <div class="col-6">
        <label><b>채팅방</b></label>
    </div>
    <div>
        <div id="msgArea" class="row"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn-outline-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Body 스크립트 프래그먼트 참조 -->
<div th:replace="~{thymeleaf/fragments/for_roxy :: bodyScripts}"></div>

<script th:inline="javascript">
    $(document).ready(function(){

        const username = [[${username}]];

        $("#disconn").on("click", (e) => {
            disconnect();
        })

        $("#button-send").on("click", (e) => {
            send();
        });

        const websocket = new WebSocket("ws://localhost:8080/ws/chat");

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        function send(){
            let msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            websocket.send(username + ":" + msg.value);
            msg.value = '';
        }

        // 채팅창에서 나갔을 때
        function onClose(evt) {
            var str = username + ": 님이 방을 나가셨습니다.";
            websocket.send(str);
        }

        // 채팅창에 들어왔을 때
        function onOpen(evt) {
            var str = username + ": 님이 입장하셨습니다.";
            websocket.send(str);
        }

        // 메시지를 수신했을 때
        function onMessage(msg) {
            var data = msg.data;
            var sessionId = null;
            var message = null;
            var arr = data.split(":");

            for(var i=0; i<arr.length; i++){
                console.log('arr[' + i + ']: ' + arr[i]);
            }

            var cur_session = username;

            console.log("cur_session : " + cur_session);
            sessionId = arr[0];
            message = arr[1];

            console.log("sessionID : " + sessionId);
            console.log("cur_session : " + cur_session);

            var profileImgUrl = [[${member.getProfileImageUrl}]];

            var str = "<div class='col-12'>";
            str += "<div class='chat-box " + (sessionId == cur_session ? "chat-box-left" : "chat-box-right") + "'>";
            str += "<img src='" + profileImgUrl + "' alt='profile' class='profile-img-" + (sessionId == cur_session ? "left" : "right") + "'>";
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }
    })
</script>

</body>
</html>



