<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{thymeleaf/fragments/for_roxy :: cssLinks}"></div>
    <div th:replace="~{thymeleaf/fragments/for_roxy :: scripts}"></div>
</head>

<body data-spy="scroll" data-target="#navbar" class="static-layout">
<div th:replace="~{thymeleaf/fragments/roxy_header_sidebar :: header_sidebar}"></div>

<div class="container section-content">
    <div class="col-6">
        <label><b>채팅방 생성 또는 참여</b></label>
    </div>
    <div>
        <form action="/createRoom" method="post">
            <button type="submit" class="btn btn-primary">채팅방 생성</button>
        </form>
        <form action="/joinRoom" method="post">
            <div class="input-group mb-3">
                <input type="text" name="roomId" class="form-control" placeholder="방코드 입력">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">참여</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{thymeleaf/fragments/for_roxy :: bodyScripts}"></div>
</body>
</html>
