<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org" >

<head>
    <!--
     - Roxy: Bootstrap template by GettTemplates.com
     - https://gettemplates.co/roxy
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Roxy by GetTemplates.co</title>
    <meta name="description" content="Roxy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS 링크 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: cssLinks}"></div>

    <!-- Modernizr JS 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: scripts}"></div>

</head>

<body ata-spy="scroll" data-target="#navbar" class="static-layout">

<!--헤더 참조-->
<div th:replace="~{thymeleaf/fragments/roxy_header_sidebar :: header_sidebar}"></div>


<section id="contact-form" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap" data-aos="fade-up">
                <h2 class="section-title">로그인</h2>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Contact Form Holder -->
                <div class="col-md-8 offset-md-2 contact-form-holder mt-4" data-aos="fade-up">

                    <form method="post" name="contact-us" action="/loginProc">
                        <div class="row center-aligner">

                            <div class="col-md-9 form-group center-aligner login-input">
                                <input type="text" class="form-control" id="name" name="loginId" placeholder="ID">
                            </div>

                            <div class="col-md-9 form-group center-aligner login-input">
                                <input type="text" class="form-control" id="email" name="userpw" placeholder="Password">
                            </div>

                            <br>

                            <div class="col-md-12 text-center center-aligner login-button">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Login</button>
                            </div>
                        </div>
                    </form>

                    <br><br>

                    <!--oauth2 로그인 버튼들-->
                    <div class="col-md-12 center-aligner">
                        <a href="/oauth2/authorization/google"><img class="login-images" src="/images/login_button/googleloginimage.png" alt="구글 로그인"></a>
                        <a href="/oauth2/authorization/kakao"><img class="login-images" src="/images/login_button/kakaologinimage.png" alt="카카오 로그인"></a>
                        <a href="/oauth2/authorization/naver"><img class="login-images" src="/images/login_button/naverloginimage.png" alt="네이버 로그인"></a>
                        <!-- oauth2 client 라이브러리를 쓰면 고정으로 위주소를 써야한다-->
                    </div>


                    <br><br>

                    <a href="/email_verification">회원가입을 아직 하지 않으셨나요?</a>
                </div>

            </div>

        </div>

        <div class="section-content pt-0">
            <div class="title-wrap" data-aos="fade-up">
                <h2 class="section-title">Where To Find Us?</h2>
            </div>
            <div class="row text-center mt-4">
                <div class="col-md-3" data-aos="fade-up">
                    <span class="lnr lnr-location fs-40 py-4 d-block"></span>
                    <h5>LOCATION</h5>
                    <p>Yogyakarta</p>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
                    <span class="lnr lnr-clock fs-40 py-4 d-block"></span>
                    <h5>WORKING TIME</h5>
                    <p>Monday - Saturday</p>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
                    <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                    <h5>CALL US</h5>
                    <p>123-45678</p>
                </div>
                <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
                    <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                    <h5>EMAIL</h5>
                    <p>company@gmail.com</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End of Contact Form Section -->



<!-- Body 스크립트 프래그먼트 참조 -->
<div th:replace="~{thymeleaf/fragments/for_roxy :: bodyScripts}"></div>

</body>
</html>