<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar</title>
    <link href='https://fullcalendar.io/releases/main/base.css' rel='stylesheet' />
    <script src='https://fullcalendar.io/releases/main/base.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var events = /*[[${events}]]*/ 'default';
            var eventArray = [];
            for (var i = 0; i < events.length; i++) {
                eventArray.push({
                    title: events[i].title,
                    start: events[i].startDate,
                    end: events[i].endDate,
                    color: events[i].color
                });
            }
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: eventArray
            });
            calendar.render();
        });
        /*]]>*/
    </script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>gitgit