<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Reservation System</title>

    <!-- CSS 링크 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: cssLinks}"></div>

    <!-- Modernizr JS 프래그먼트 참조 (roxy를 위한 참조들)-->
    <div th:replace="~{thymeleaf/fragments/for_roxy :: scripts}"></div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function()
        {
            // 특정 이름을 가진 redirectAttributes가 있는지 확인
            var errorMessage = /*[[${error}]]*/   ;

            console.log("error message:"+ errorMessage);
            if (errorMessage)
            {
                alert(errorMessage);
            }
        });
        /*]]>*/
    </script>

</head>
<body ata-spy="scroll" data-target="#navbar" class="static-layout">

<!--헤더 참조-->
<div th:replace="~{thymeleaf/fragments/roxy_header_sidebar :: header_sidebar}"></div>

<section id="contact-form" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="row center-aligner" data-aos="fade-up">
                <div class=" offset-md-2 contact-form-holder mt-4 rounded-corner" data-aos="fade-up">
                    <h1>사무실 예약 시스템</h1>
                    <br><br>
                    <form id="reserve-form" th:action="@{/reserve/making_reservation}"  method="post">

                        <div class="split-container">
                            <label for="startday">시작일:</label>
                            <input type="date" id="startday" class="col-md-7" name="startday" required>
                        </div>
                        <br>
                        <div class="split-container">
                            <label for="endday">마지막일:</label>
                            <input type="date" id="endday" class="col-md-7" name="endday" required>
                        </div>
                        <br>
                        <div class="split-container">
                            <label for="roomId">방 선택:</label>
                            <select id="roomId" name="roomId" class="col-md-9">
                             <option th:each="room : ${room_list}" th:value="${room.roomId}" th:text="${room.type + ' - ' + room.roomId}">방</option>
                            </select>
                        </div>
                        <br><br>
                        <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">예약하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Body 스크립트 프래그먼트 참조 -->
<div th:replace="~{thymeleaf/fragments/for_roxy :: bodyScripts}"></div>


</body>
</html>
